@import "tailwindcss";
@import "./assets/css/reuses.css";

:root {
  --primary: #ffffff;
  --secondary: #cccccc;
  --bg: #0f0f11;
  --gr: linear-gradient(90deg, #5813c1 0%, #c45037 100%);
}
.gradient-bg {
  background: linear-gradient(90deg, var(--color-start) 0%, var(--color-end) 100%);
}
.gradient-text {
  background: linear-gradient(90deg, #5813c1 0%, #c45037 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* container */

.containerr {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .containerr {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .containerr {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .containerr {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .containerr {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .containerr {
    max-width: 1320px;
  }
}
